<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${'View Review Detail'})" />
<body>
<nav th:replace="fragments :: navbar" />

<div class="form-container">

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><span th:text="${review.title}"/></h3>
                    <div class="card-text">
                        <p><span th:text="${review.body}"/></p>
                        <p>Overall rating: <span th:text="${review.overall_rating}"/>/5</p>
                    </div>
                    <p>View all reviews for: <a th:href="@{/reviews/{id}(id=${review.location.getyelpid()})}"><span th:text="${review.location.name}"/></a></p>
                    <a th:href="@{/reviews/{id}/edit(id=${review.id})}" class="card-link">Edit Post</a>
                    <a th:href="@{/reviews/{id}/delete(id=${review.id})}" class="card-link">Delete Post</a>
                </div>
            </div>
        </div>
</div>

<th:block th:replace="fragments :: scripts" />
</body>
</html>