<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head(${'Profile'})" />
<body>
<nav th:replace="fragments :: navbar" />

<div class="container">
    <div class="card-columns">
        <div class="form-container">
            <h2>Welcome <span th:text="${user.username}">!</span></h2>

                <div th:include="fragments :: logo2"></div>

                <div class="card shadows">
                    <div class="card-body">
                        <h3 class="text-center">Profile Information</h3>

                        <div th:object="${user}">
                            <input type="hidden" id="idA" th:value="${user.id}" />
                            <div class="user-profile">
                                <label for="firstNameA"><strong>First Name: </strong></label>
                                <span th:text="${user.first_name}" class="text-center" id="firstNameA" /><br />
                            </div>
                            <div class="user-profile">
                                <label for="lastNameA"><strong>Last Name: </strong></label>
                                <span th:text="${user.last_name}" class="text-center" id="lastNameA" /><br />
                            </div>
                            <div class="user-profile">
                                <label for="phoneNumberA"><strong>Phone Number: </strong></label>
                                <span th:text="${user.phone_number}" class="text-center" id="phoneNumberA"/><br />
                            </div>
                            <div class="user-profile">
                                <label for="usernameA"><strong>Username: </strong></label>
                                <span th:text="${user.username}" class="text-center" id="usernameA" /><br />
                            </div>
                            <div class="user-profile">
                                <label for="emailA"><strong>Email: </strong></label>
                                <span th:text="${user.email}" class="text-center" id="emailA" /><br />
                                <button class="btn btn-block buttons card-link text-white" data-toggle="modal" data-target="#profileModal">
                                        Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal: User Profile-->
                <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content card shadows">
                            <div class="modal-header">
                                <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button><br />
                                    <h3 class="modal-title mr-auto" id="profileLabel">Profile Information</h3>

                                    <div class="modal-body card-body">

                                        <form th:action="@{/profile/{id}/edit(id=${user.id})}" th:method="POST" th:object="${user}">
                                            <input type="hidden" id="idB" th:value="${user.id}" />
                                            <div class="form-group">
                                                <label for="firstNameB">
                                                    First Name
                                                </label>
                                                <input class="form-control" id="firstNameB"  th:field="*{first_name}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="lastNameB">
                                                    Last Name
                                                </label>
                                                <input class="form-control" id="lastNameB" th:field="*{last_name}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="phoneNumberB">
                                                    Phone Number
                                                </label>
                                                <input class="form-control" id="phoneNumberB" th:field="*{phone_number}" th:placeholder="${user.phone_number}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="usernameB">
                                                    Username
                                                </label>
                                                <input class="form-control" id="usernameB" th:value="${user.username}" th:field="*{username}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="emailB">
                                                    Email
                                                </label>
                                                <input class="form-control" id="emailB" th:value="${user.email}" th:field="*{email}" />
                                            </div>

                                            <div class="modal-footer">
                                                    <button type="button" class="btn btn-block text-white logout" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn buttons text-white">
                                                        Save changes
                                                    </button>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Password card with link-->
        <div class="card shadows" th:object="${user}">
            <div class="card-body">
                <label>
                    <h3 class="text-center">Password</h3>
                </label>
                    <p>Update password <a th:href="@{/profile/updatePassword}" th:object="${user}">here</a></p>
            </div>
        </div>

        <!--User contact info-->
            <div class="card shadows">
                <div class="card-body">
                    <h3 class="text-center">Contacts</h3>

                    <div th:object="${user}">
                        <!-- 1st Contact -->
                        <input type="hidden" id="contactId1" th:value="${user.id}" />
                        <div class="user-profile">
                            <label for="firstName1"><strong>First Name: </strong></label>
                            <span th:text="${user.first_name}" class="text-center" id="firstName1" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="lastName1"><strong>Last Name: </strong></label>
                            <span th:text="${user.last_name}" class="text-center" id="lastName1" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="phoneNumber1"><strong>Phone Number: </strong></label>
                            <span th:text="${user.phone_number}" class="text-center" id="phoneNumber1"/><br />
                        </div><br />

                        <!-- 2nd Contact -->
                        <input type="hidden" id="contactId2" th:value="${user.id}" />
                        <div class="user-profile">
                            <label for="firstName2"><strong>First Name: </strong></label>
                            <span th:text="${user.first_name}" class="text-center" id="firstName2" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="lastName2"><strong>Last Name: </strong></label>
                            <span th:text="${user.last_name}" class="text-center" id="lastName2" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="phoneNumber2"><strong>Phone Number: </strong></label>
                            <span th:text="${user.phone_number}" class="text-center" id="phoneNumber2"/><br />
                        </div><br />

                        <!-- 3rd Contact -->
                        <input type="hidden" id="contactId3" th:value="${user.id}" />
                        <div class="user-profile">
                            <label for="firstName3"><strong>First Name: </strong></label>
                            <span th:text="${user.first_name}" class="text-center" id="firstName3" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="lastName3"><strong>Last Name: </strong></label>
                            <span th:text="${user.last_name}" class="text-center" id="lastName3" /><br />
                        </div>
                        <div class="user-profile">
                            <label for="phoneNumber3"><strong>Phone Number: </strong></label>
                            <span th:text="${user.phone_number}" class="text-center" id="phoneNumber3"/><br />
                        </div><br />
                            <button class="btn btn-block buttons card-link text-white" data-toggle="modal" data-target="#contactModal">
                                Edit Contacts
                            </button>
                        </div>
                    </div>
                </div>

            <!--Modal: Contacts-->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content card shadows">
                        <div class="modal-header">
                            <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button><br />
                            <h3 class="modal-title text-center" id="contactLabel">Contacts</h3>

                            <div class="modal-body card-body">

                                <form th:action="@{/contacts/{id}/edit(id=${user.id})}" th:method="POST" th:object="${user}">
                                    <!-- 1st Contact -->
                                    <input type="hidden" id="contactId1a" th:value="${user.id}" />
                                    <div class="form-group">
                                        <label for="firstName1a">
                                            First Name
                                        </label>
                                        <input class="form-control" id="firstName1a"  th:field="*{first_name}" placeholder="Contact 1: First Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName1a">
                                            Last Name
                                        </label>
                                        <input class="form-control" id="lastName1a" th:field="*{last_name}" placeholder="Contact 1: Last Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber1a">
                                            Phone Number
                                        </label>
                                        <input class="form-control" id="phoneNumber1a" th:field="*{phone_number}" placeholder="Contact 1: Number"/>
                                    </div><br />

                                    <!-- 2nd Contact -->
                                    <input type="hidden" id="contactId2a" th:value="${user.id}" />
                                    <div class="form-group">
                                        <label for="firstName2a">
                                            First Name
                                        </label>
                                        <input class="form-control" id="firstName2a"  th:field="*{first_name}" placeholder="Contact 2: First Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName2a">
                                            Last Name
                                        </label>
                                        <input class="form-control" id="lastName2a" th:field="*{last_name}" placeholder="Contact 2: Last Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber2a">
                                            Phone Number
                                        </label>
                                        <input class="form-control" id="phoneNumber2a" th:field="*{phone_number}" placeholder="Contact 2: Number"/>
                                    </div><br />

                                    <!-- 3rd Contact -->
                                    <input type="hidden" id="contactId3a" th:value="${user.id}" />
                                    <div class="form-group">
                                        <label for="firstName3a">
                                            First Name
                                        </label>
                                        <input class="form-control" id="firstName3a"  th:field="*{first_name}" placeholder="Contact 3: First Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName3a">
                                            Last Name
                                        </label>
                                        <input class="form-control" id="lastName3a" th:field="*{last_name}" placeholder="Contact 3: Last Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber3a">
                                            Phone Number
                                        </label>
                                        <input class="form-control" id="phoneNumber3a" th:field="*{phone_number}" placeholder="Contact 3: Number"/>
                                    </div><br />

                                    <!--Modal Buttons-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-block text-white logout" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn buttons text-white">
                                            Save changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card shadows">
                 <h3 class="card-title text-center">Location Reviews</h3>
                    <div class="card-body">
                        <p>Manage your reviews <a th:href="@{/reviews/{id}/edit(id=${user.id})}">here</a></p>
                    </div>
            </div>

            <div class="card shadows">
                <h3 class="card-title text-center">Location Favorites</h3>
                    <div class="card-body">
                        <p>Manage your favorites <a th:href="@{/favorites/{id}/edit(id=${user.id})}">here</a></p>
                    </div>
            </div>
    </div>
</div>








<th:block th:replace="fragments :: scripts" />

</body>
</html>