body, html {
    height: 100%;
}

/*body {*/
    /*!* background: lightskyblue; *!*/
    /*background: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);*/
    /*!*background: linear-gradient(to bottom right, green, white, green);*!*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*text-shadow: white;*/
/*}*/
.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rating:not(:checked) > label:before { content: '★ '; }

.rating > input:checked ~ label { color: #1de986; }

.rating:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #00b07b; }

.rating > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #00b07b; }

body {
    background-color: papayawhip;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: white;
}

.container {
    width: 410px;
    height: 410px;
    padding: 0;
}

.layout {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.logo {
    background-color: #81E4DA;
}

#top-left {
    border-top-left-radius: 100%;
}

#top-right {
    border-top-right-radius: 100%;
}

#bottom-left {
    border-bottom-right-radius: 100%;
}

#bottom-right {
    border-bottom-left-radius: 100%;
}

