body, html {
    height: 100%;
}

#home {
 background-color: #939da0;
}

.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rating:not(:checked) > input {
    position: absolute;
    left: -9999px;
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rating:not(:checked) > label:before { content: '★ '; }

.rating > input:checked ~ label { color: #1de986; }

.rating:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #00b07b; }

.rating > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #00b07b; }

.form-container {
    width: 410px;
    height: 410px;
    padding: 0;
    margin: auto;
}


.layout {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.logo {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 100px;
    width: 250px;
    height: 80px;
}

.logo-main {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 250px;
    height: 80px;
}

.forms {
    margin-top: 100px;
}

.user-profile{
    margin-left: 10px;
}

.buttons {
    background-color: #00b07b;
}

#profile {
   position: fixed;
       margin-right: 25%;
       margin-top: 10%;
}

#uber {
    position: fixed;
        margin-right: 25%;
        margin-top: 20%;
}

#lyft {
    position: fixed;
         margin-right: 25%;
         margin-top: 30%;
}

#moovit2 {
    position:fixed;
          margin-right: 25%;
          margin-top: 40%;
}

.logout {
    background-color: #939da0;
}

.shadows {   /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadows:hover {  /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*dark red: #950007*/
/*dark green: #00b07b*/
/*dark grey: #939da0*/

/*light red: #d60007*/
/*light green: #00e9ad*/
/*light grey: #c8d3d7*/

.home-main{
    text-align: center;
    margin:auto;
    width: 90%;
}

#map-canvas{
    position: relative;
    margin-right: 20px;
    width: 100%;
    height: 95vh;
}

.nav-legend {
    position: absolute;
    margin-left: 35%;
    margin-top: 58%;
}

.safety-btns {
    position: absolute;
        margin-right: 35%;
        margin-top: 58%;
}

.safe{
    background-color: #42a5f5;
}

.nav-bckgrnd{
    background-color: #c8d3d7;
    margin-bottom: 10px;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /*margin-left: 12px;*/
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 280px;
    margin-top: 10px;
    border: solid 2px #00b07b;

}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

#floating-legend {
    position: absolute;
    top: 5px;
    right: 50px;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-layers {
    position: absolute;
    top: 600px;
    right: 50px;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.layers {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    width: 200px;
}

/*.button-like {*/
    /*border: 2px solid #8a8a8a;*/
    /*background-color: transparent;*/
    /*text-decoration: none;*/
    /*padding: 1rem;*/
    /*position: relative;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*border-radius: 3rem;*/
    /*color: #8a8a8a;*/
    /*transition: all ease 0.4s;*/
/*}*/

.button-like span {
    bottom: 10px;
}

.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}

.button-like:focus {
    background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
    color: #8a8a8a;
}

.button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
    color: #cc4b37;
}

.liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked .fa,
.liked span {
    color: #fefefe;
}

.liked:focus {
    background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
    color: #fefefe;
}

.liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
    color: #fefefe;
}








