/*dark red: #950007*/
/*dark green: #00b07b*/
/*dark grey: #939da0*/

/*light red: #d60007*/
/*light green: #00e9ad*/
/*light grey: #c8d3d7*/

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

#home {
 background-color: #939da0;
}

.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rating:not(:checked) > input {
    position: absolute;
    left: -9999px;
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rating:not(:checked) > label:before { content: '★ '; }

.rating > input:checked ~ label { color: #1de986; }

.rating:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #00b07b; }

.rating > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #00b07b; }

.form-container {
    width: 410px;
    height: 410px;
    padding: 0;
    margin: auto;
}


.layout {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.logo {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 100px;
    width: 250px;
    height: 80px;
    /*font-family: 'Courgette', cursive;*/
    /*font-family: 'Combo', cursive;*/
    font-family: 'Original Surfer', cursive;
}
.logo-main {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 250px;
    height: 80px;
    font-family: 'Original Surfer', cursive;

}

.logo-mobile {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    width:100%;
    align-content: center;
    margin: auto;
    font-family: 'Original Surfer', cursive;

}

.logo-color {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forms {
    margin-top: 100px;
}

.user-profile{
    margin-left: 10px;
}

.search-box{
    margin-left: 20px;
}

.profile-font{
    font-size: 1.3em;
}

.profile-header-font{
    font-size: 1em;
}

.buttons {
    background-color: #00b07b;
}

#profile {
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: 5;
    height: 80px;
    width:  80px;
    padding: 25px 0px;
    border-radius: 20px;
}

#uber {
    position: absolute;
    top: 145px;
    left: 10px;
    z-index: 5;
    padding: 0px;
}

#lyft {
    position: absolute;
    top: 235px;
    left: 10px;
    z-index: 5;
    padding: 0px;
}

#moovit2 {
    position: absolute;
    top: 325px;
    left: 10px;
    z-index: 5;
    height: 80px;
    width:  80px;
    padding: 25px 0px;
    border-radius: 20px;
}

.moovit{
    background-color: #000000;
}

.logout {
    background-color: #939da0;
}

.shadows {   /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadows:hover {  /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.home-main{
    text-align: center;
    margin:auto;
    width: 90%;
}

#map-canvas{
    position: relative;
    /*margin-right: 20px;*/
    width: 100%;
    height: 100vh;
}

.nav-legend {
    position: absolute;
    margin-left: 35%;
    margin-top: 58%;
}


.left-btns{
    margin-right: 25px;
}

.safe{
    background-color: #42a5f5;
}

.nav-bckgrnd{
    background-color: #42a5f5;
    /*margin-bottom: 20px;*/
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /*margin-left: 12px;*/
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 280px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    border: solid 2px #00b07b;

}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

#floating-legend {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-layers {
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}


.layers {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    width: 200px;
}

#safe {
    position: absolute;
    bottom: 20px;
    left: 64px;
    z-index: 5;
    /*padding: 5px;*/
    /*padding-left: 10px;*/
}

#emergency {
    position: absolute;
    bottom: 20px;
    left: 184px;
    z-index: 5;
    vertical-align: middle;
    /*padding: 5px;*/
    /*padding-left: 10px;*/

}

.profile-main {
    max-width: 95%;
    max-height: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 768px){
    #safe{
        position: absolute;
        top: 535px;
        left: 8px;
        z-index: 5;
        padding: 0;
    }

    #emergency{
        position: absolute;
        top: 635px;
        left: 8px;
        z-index: 5;
        padding: 0;
    }

    #register-btn{
        position: absolute;
        top: 35px;
        left: 10px;
        z-index: 5;
        height: 50px;
        width:  100px;
        border-radius: 10px;
    }

    #login-btn{
        position: absolute;
        top: 95px;
        left: 10px;
        z-index: 5;
        height: 50px;
        width:  100px;
        border-radius: 10px;
    }
}

.logout-mobile {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 40px;
    width:100%;
    align-content: center;
    margin: auto;
}

.reviews {
    display: block;
    margin: 20px;
}

#sa-map {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    filter: grayscale(100%);
}

#jenn {
    position: absolute;
    top: 150px;
    left: 5%;
    z-index: 5;
    height: 300px;
    width:  300px;
}

#wayne {
    position: absolute;
    top: 150px;
    left: 36%;
    z-index: 5;
    height: 300px;
    width:  300px;
}

#emily {
    position: absolute;
    top: 150px;
    left: 67%;
    z-index: 5;
    height: 300px;
    width:  300px;
}

.review-btn{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #00b07b;
    color: white;
}

.review-btn:hover {
    background: rgba(0,0,0,0);
    color: #00b07b;
    box-shadow: inset 0 0 0 2px #00b07b;
}

.infowin-btn{
    margin-bottom: 4px;
}

.myinfo-window {
    align-content: center;
}











