<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}" />
    <link rel="manifest" href="/json/AppManifest.json"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/json/AppManifest.json"/>

</head>
<body>

<div th:fragment="logo" class="card">
    <div class="d-flex align-content-center">
        <div class="card-body logo shadows rounded">
            <h1 class="text-center text-white">SafeWalk</h1>
        </div>
    </div>
</div>

<div th:fragment="logo2" class="card">
    <div class="d-flex align-content-center">
        <div class="card-body logo-main shadows rounded">
            <h1 class="text-center text-white">SafeWalk</h1>
        </div>
    </div>
</div>

<nav th:fragment="navbar">
    <div class="navbar form-inline shadows nav-bckgrnd">
            <div>
                <form th:action="@{/}" th:method="GET">
                    <button class="btn-link btn text-white justify-left" style="margin-top: 8px">Home</button>
                </form>
            </div>
            <div>
                <form th:action="@{/profile}" th:method="GET">
                    <button class="btn-link btn text-white justify-left" style="margin-top: 8px">Profile</button>
                </form>
            </div>
            <div>
                <form th:action="@{/logout}" th:method="review">
                    <button class="btn-link btn text-white justify-left" style="margin-top: 8px">Logout</button>
                </form>
            </div>
    </div>
</nav>



<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>

</body>
</html>