<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments :: head(${'Welcome!'})" />
<body>


<div class="row d-flex ml-auto">
    <div class="col-3 d-none d-lg-block">

        <div th:include="fragments :: logo2"></div>

            <div class="card shadows">
                <div class="card-body">
                    <!-- Logged in user: show this -->
                    <h3 th:if="${user} != null">Welcome <a th:href="@{/profile}" th:text="${user.username}"></a>!</h3>
                    <h3 th:if="${user} == null">Welcome to SafeWalk!</h3>

                    <!--Not logged in user: show this-->
                    <p>San Antonio, Texas</p>
                </div>
            </div>

            <div class="card shadows">
                <div class="card-body">
                    <!-- Logged in user: show this -->
                    <span th:if="${user} != null">
                        <a th:href="@{/reviews}">Reviews</a>
                        <ul>
                            <li th:each="review : ${reviews}"><a th:href="@{/reviews/{reviewId}/detail(reviewId=${review.id})}"><span th:text="${review.title}"></span></a></li>
                        </ul>
                        <a th:href="@{/favorites/index}">Favorites</a>
                        <ul>
                            <li th:each="favorite : ${favorites}"><a th:href="@{/reviews/{id}(id=${favorite.getyelpid()})}"><span th:text="${favorite.name}"></span></a></li>
                        </ul>
                    </span>

                    <!--Not logged in user: show this-->
                    <span th:if="${user} == null">
                        <h5>Logged In User has access to:</h5>
                        <ul>
                            <li>Safety Reviews by Location</li>
                            <li>Emergency Alert Buttons</li>
                            <li>Location Ratings</li>
                            <li>Create Reviews</li>
                            <li>Save Favorite Locations</li>
                        </ul>
                    </span>

                </div>
            </div>


            <div class="card shadows">
                <div class="m-auto">
                    <!-- Logged in user: show this -->
                    <span th:if="${user} != null" class="form-inline">
                        <a href="#" class="d-block btn-lg moovit1 mb-4 mt-4 text-center shadows left-btns" id="moovit">moovit</a><br />
                        <form th:action="@{/logout}" th:method="review">
                            <button class="d-block btn-lg btn-secondary mb-4 mt-4 text-white text-center mb-3 shadows">Logout</button>
                        </form>
                    </span>

                    <!--Not logged in user: show this-->
                    <span th:if="${user} == null" class="form-inline">
                        <a th:href="@{/register}" class="d-block btn-lg mb-4 mt-4 shadows safe text-white text-center  left-btns">Register</a>
                        <a th:href="@{/login}" class="d-block btn-lg mb-4 mt-4 buttons shadows text-white text-center ">Login</a>
                    </span>
                </div>
            </div>
    </div>

    <!--Mobile View elements that don't appear w lg and xl screens-->
    <div class="col-2 d-lg-none d-xl-none">
            <a class="d-block btn-lg mb-4 shadows buttons text-white text-center align-middle" href="/profile" role="button" id="profile">
                Profile
            </a>

            <a class="d-block btn-lg mb-4 shadows text-white text-center align-middle" href="#" role="button" id="uber">
                UBER
            </a>

            <a class="d-block btn-lg mb-4 shadows text-center align-middle" href="#" role="button" id="lyft">
                <h4><strong>Lyft</strong></h4>
            </a>

            <a class="d-block btn-lg mb-4 shadows buttons text-center align-middle" href="#" role="button" id="moovit2">
                moovit
            </a>
    </div>

            <!-- Logged in user: show this -->
        <div class="col-2 safety-btns" th:if="${user} != null">
            <a class="d-block btn-lg mb-4 shadows safe text-white text-center form-inline" href="#" role="button" id="safe">
                Safe Now
            </a>
            <a class="d-block btn-lg mb-4 shadows unsafe text-white text-center form-inline" href="#" role="button"
               id="emergency">
                NOT Safe!
            </a>
        </div>

    <div class="col-9">
        <div id="floating-legend" class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Legend
            </button>
            <div class="dropdown-menu dropdown-menu-right" style="background-color: transparent; border: none">
                <img class="mx-auto" src="/img/legend.png" style="width:280px; height:256px"  alt="legend"/>
            </div>
        </div>
        <div id="floating-layers" class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Layer Selection
            </button>
            <div class="dropdown-menu dropdown-menu-right" style="background-color: transparent; border: none">
                <ul>
                    <li class="list-group-item layers"><input name="facilities" type="checkbox" id="facilitiesLayer" checked="checked"/><label for="facilitiesLayer"> Police and Fire Stations</label></li>
                    <li class="list-group-item layers"><input name="heatmap" type="checkbox" id="heatmapLayer" /><label for="heatmapLayer"> Crime Heatmap</label></li>
                    <li class="list-group-item layers"><input name="crime" type="checkbox" id="crimeLayer"/><label for="crimeLayer"> Crime</label></li>
                    <li class="list-group-item layers"><input name="both" type="checkbox" id="bothLayer" /><label for="bothLayer"> Restaurants/Bars</label></li>
                    <li class="list-group-item layers"><input name="restaurants" type="checkbox" id="restaurantLayer" /><label for="restaurantLayer"> Restaurants</label></li>
                    <li class="list-group-item layers"><input name="bars" type="checkbox" id="barLayer" /><label for="barLayer"> Bars</label></li>
                    <li class="list-group-item layers"><input name="family" type="checkbox" id="familyLayer" /><label for="familyLayer"> Family friendly locations</label></li>
                </ul>
            </div>
        </div>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
        <div id="map-canvas" class="container-flex float-left col shadows align-self-stretch mr-auto"></div>
    </div>

</div>


<th:block th:replace="fragments :: scripts" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5523VMyf7HwSUCog4fCxZsze1lDaMP-I&amp;libraries=places,visualization"></script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
<script type="text/javascript" th:src="@{/js/moovit.js}"></script>
<script type="text/javascript" th:src="@{/js/TwilioFrontend.js}"></script>

</body>
</html>