<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments :: head(${'Welcome!'})" />
<body>


<div class="row d-flex ml-auto">
    <div class="col-3 d-none d-lg-block">

        <div th:include="fragments :: logo2"></div>

            <div class="card shadows">
                <div class="card-body">
                    <!-- Logged in user: show this -->
                    <h3 th:if="${user} != null">Welcome <a th:href="@{/profile}" th:text="${user.username}"></a>!</h3>
                    <h3 th:if="${user} == null">Welcome to SafeWalk!</h3>

                    <!--Not logged in user: show this-->
                    <p>San Antonio, Texas</p>
                </div>
            </div>

            <div class="card shadows">
                <div class="card-body">
                    <!-- Logged in user: show this -->
                    <span th:if="${user} != null">
                        <a th:href="@{/reviews}">Reviews</a>
                        <ul>
                            <li th:each="review : ${reviews}"><a th:href="@{/reviews/{reviewId}/detail(reviewId=${review.id})}"><span th:text="${review.title}"></span></a></li>
                        </ul>
                        <a th:href="@{/favorites/index}">Favorites</a>
                        <ul>
                            <li th:each="favorite : ${favorites}"><a th:href="@{/reviews/{id}(id=${favorite.getyelpid()})}"><span th:text="${favorite.name}"></span></a></li>
                        </ul>
                    </span>

                    <!--Not logged in user: show this-->
                    <span th:if="${user} == null">
                        <h5>Logged In User has access to:</h5>
                        <ul>
                            <li>Safety Reviews by Location</li>
                            <li>Emergency Alert Buttons</li>
                            <li>Location Ratings</li>
                            <li>Create Reviews</li>
                            <li>Save Favorite Locations</li>
                        </ul>
                    </span>

                </div>
            </div>


            <div class="card shadows">
                <div class="m-auto">
                    <!-- Logged in user: show this -->
                    <span th:if="${user} != null" class="form-inline">
                        <a href="#" class="d-block btn-lg moovit1 mb-4 mt-4 text-center text-white shadows left-btns" id="moovit">moovit</a><br />
                        <form th:action="@{/logout}" th:method="review">
                            <button class="d-block btn-lg btn-secondary mb-4 mt-4 text-white text-center mb-3 shadows">Logout</button>
                        </form>
                    </span>

                    <!--Not logged in user: show this-->
                    <span th:if="${user} == null" class="form-inline">
                        <a th:href="@{/register}" class="d-block btn-lg mb-4 mt-4 shadows safe text-white text-center  left-btns">Register</a>
                        <a th:href="@{/login}" class="d-block btn-lg mb-4 mt-4 buttons shadows text-white text-center ">Login</a>
                    </span>
                </div>
            </div>
    </div>

    <div class="col d-lg-none logo-mobile">
        <h1 class="text-center text-white pt-3">SafeWalk</h1>
    </div>

    <div class="col-lg mx-auto pl-0">
        <!--Mobile View elements that don't appear w lg and xl screens-->
        <div class="d-lg-none">
         <!--Logged in user: show this-->
            <div class="safety-btns" th:if="${user} != null">
                <a class="d-block btn-lg shadows text-white text-center align-middle logo-color" href="/profile" role="button" id="profile">
                Profile
                </a>

                <a class="d-block btn-lg text-white text-center align-middle" href="#" role="button" id="uber">
                    <img src="/img/uber.png" alt="Uber" style="height: 80px; width: 80px"/>
                </a>

                <a class="d-block btn-lg text-center align-middle" href="#" role="button" id="lyft">
                <!--<h4><strong>Lyft</strong></h4>-->
                    <img id="lyft-btn" src="/img/Lyft-Logo-Square.png" alt="Lyft" style="height: 84px; width: 84px; border-radius: 20px"/>
                </a>

                <a class="d-block btn-lg shadows buttons text-center align-middle text-white" href="#" role="button" id="moovit2">
                moovit
                </a>
            </div>
            <!--Not logged in user: show this-->
            <span th:if="${user} == null" class="form-inline">
                <a id="register-btn" th:href="@{/register}" class="d-block btn-lg mb-4 mt-4 shadows safe text-white text-center">Register</a>
                <a id="login-btn" th:href="@{/login}" class="d-block btn-lg mb-4 mt-4 buttons shadows text-white text-center ">Login</a>
            </span>
        </div>


            <div id="floating-legend" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Legend
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="background-color: transparent; border: none">
                    <img class="mx-auto" src="/img/legend.png" style="width:280px; height:256px"  alt="legend"/>
                </div>
            </div>
            <div id="floating-layers" class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Layer Selection
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="background-color: transparent; border: none">
                    <ul>
                        <li class="list-group-item layers"><input name="facilities" type="checkbox" id="facilitiesLayer" checked="checked"/><label for="facilitiesLayer"> Police and Fire Stations</label></li>
                        <li class="list-group-item layers"><input name="heatmap" type="checkbox" id="heatmapLayer" /><label for="heatmapLayer"> Crime Heatmap</label></li>
                        <li class="list-group-item layers"><input name="crime" type="checkbox" id="crimeLayer"/><label for="crimeLayer"> Crime</label></li>
                        <li class="list-group-item layers"><input name="both" type="checkbox" id="bothLayer" /><label for="bothLayer"> Restaurants/Bars</label></li>
                        <li class="list-group-item layers"><input name="restaurants" type="checkbox" id="restaurantLayer" /><label for="restaurantLayer"> Restaurants</label></li>
                        <li class="list-group-item layers"><input name="bars" type="checkbox" id="barLayer" /><label for="barLayer"> Bars</label></li>
                        <li class="list-group-item layers"><input name="family" type="checkbox" id="familyLayer" /><label for="familyLayer"> Family friendly locations</label></li>
                    </ul>
                </div>
            </div>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
        <div id="map-canvas" class="container-flex shadows align-self-stretch mx-auto"></div>
    </div>
    <div th:if="${user} != null">
        <a class="d-block btn-lg text-white text-center form-inline" href="#" role="button" id="safe">
            <img src="/img/safe.png" alt="safe" />
        </a>
        <a class="d-block btn-lg text-white text-center form-inline" href="#" role="button"
           id="emergency">
            <img src="/img/alert.png" alt="alert" />
        </a>
    </div>
    <div th:if="${user} != null" class="col d-lg-none logout-mobile">
        <p class="text-center mt-2">
            <a class="text-white text-center" th:href="@{/logout}">Logout</a>
        </p>
    </div>

</div>


<th:block th:replace="fragments :: scripts" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5523VMyf7HwSUCog4fCxZsze1lDaMP-I&amp;libraries=places,visualization"></script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
<script type="text/javascript" th:src="@{/js/moovit.js}"></script>
<script type="text/javascript" th:src="@{/js/TwilioFrontend.js}"></script>

</body>
</html>