<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head(${'Welcome!'})" />
<body>
<nav th:replace="fragments :: navbar" />


<div class="row d-flex mb-auto align-self-stretch">
    <div class="mb-6 flex-column">
        <div th:include="fragments :: logo"></div>


            <div class="card shadows">
                <div class="card-body">
                    <h3>Welcome User</h3>
                    <p>San Antonio, Texas</p>
                </div>
            </div>

            <div class="card shadows">
                <div class="card-body">
                    <a href="#">Reviews</a>
                    <ul>
                        <li>Review 1</li>
                        <li>Review 2</li>
                        <li>Review 3</li>
                    </ul>
                    <a href="#">Favorites</a>
                    <ul>
                        <li>Favorite 1</li>
                        <li>Favorite 2</li>
                        <li>Favorite 3</li>
                    </ul>
                </div>
            </div>


            <div class="card shadows">
                <div class="card-body">
                    <a href="#" class="btn buttons text-white mb-3" id="moovit">Transit with Moovit</a><br />
                    <a href="#" class="btn logout text-white">Logout</a>
                </div>
            </div>
    </div>

    <div id="map-canvas" class="mb-9 d-flex mb-auto shadows align-self-stretch"></div>


    <main class="container">
        <ul class="nav nav-tabs" id="mapTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="legend-tab" data-toggle="tab" href="#legend" role="tab" aria-controls="legend" aria-selected="true">
                    Legend
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="layers-tab" data-toggle="tab" href="#layers" role="tab" aria-controls="layers" aria-selected="true">
                    Layer Selection
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="legend" role="tabpanel" aria-labelledby="legend-tab">
                <div class="card bg-light">
                    <div class="card-header">
                        <h3>Here is the legend</h3>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="layers" role="tabpanel" aria-labelledby="layers-tab">
                <div class="card bg-light">
                    <div class="card-header">
                        <h3>Here are the layers</h3>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="facilitiesLayer"><input name="facilities" type="checkbox" id="facilitiesLayer" checked="checked"/>Police and Fire Stations</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    </div>



<th:block th:replace="fragments :: scripts" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5523VMyf7HwSUCog4fCxZsze1lDaMP-I&amp;libraries=places"></script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
<script type="text/javascript" th:src="@{/js/moovit.js}"></script>

</body>
</html>